<ion-header> 


  <ion-content padding>
  
  
    <ion-item>
     <ion-label floating >Email Address</ion-label>
     <ion-input type="text "[(ngModel)]="user.email"></ion-input>
  </ion-item>
  
  
  <ion-item>
    <ion-label floating> Password</ion-label>
    <ion-input type="password"[(ngModel)]="user.password">Password</ion-input>
  </ion-item>
  
  
  <button ion-button (click)="login(user)">Login</button>
  <button ion-button  color="light" (click)="registerfunc()">Register</button>
  </ion-content>