
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Add New Post</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
<ion-item>
  <ion-label stacked color="primary">Name</ion-label>
  <ion-input [(ngModel)]="post.username"type="text" placeholder="Fill your frist and last name"</ion-input>
</ion-item>


<ion-item>
  <ion-label stacked color="primary">Details

  </ion-label>
  <ion-textarea [(ngModel)]="post.postDetails" placeholder="Write details of food">

  </ion-textarea>
</ion-item>


<ion-item>
  <ion-label stacked color="primary">Street Name

  </ion-label>
  <ion-textarea [(ngModel)]="post.street" placeholder="Name of Street">

  </ion-textarea>
</ion-item>



<ion-item>
<ion-label stacked color="primary">City

</ion-label>
<ion-textarea [(ngModel)]="post.city" placeholder="City">

</ion-textarea>
</ion-item>



<ion-item>
<ion-label stacked color="primary">Street Name

</ion-label>
<ion-textarea [(ngModel)]="post.street" placeholder="Name of Street">

</ion-textarea>
</ion-item>




<ion-item>
  <ion-label stacked color="primary">Enter End Date
  
  </ion-label>
  <ion-datetime displyFormat="DD MMM,YYY" [(ngModel)]="post.enddate">
  </ion-datetime>
  </ion-item>
<button block ion-button color="secondary" (click)+"addpost(post)">Share Some Food !</button>


  
  


</ion-content>
